.bee_transition {
    animation-name: passBy;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
}
@keyframes passBy {
    0%   {right:0; top:0; transform: rotate(0deg);}
    50%  {width: 50%; height: 50%; right:20%; top:25%; transform: rotate(-180deg);}
    100% {right:150%; top:150px; transform: rotate(0deg);}
  }
.paint_transition {
    
    animation-name: paintIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
    top: 0px;
}
@keyframes paintIn {
    0%   {right:0px; top:-362px;}
    50%   {right:0px; top:-362px;}
    100% {right:0px; top:0;}
  }
.brush_transition {
    animation-name: brushIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
}
@keyframes brushIn {
    0%   {right:0px; top:-362px; transform: rotate(180deg)}
    50%  {right:0px; top:0; transform: rotate(0deg)}
    100% {right:-626px; top:0; transform: rotate(0deg)}
  }
.red_transition {
    animation-name: redIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}
@keyframes redIn {
    0%   {width: 100px; height: 100px;}
    100% {width: 300vw; height: 300vw; top:-150vh; left: -150vw;}
  }
.black_transition {
    animation-name: redIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}
@keyframes redIn {
    0%   {width: 100px; height: 100px;}
    100% {width: 300vw; height: 300vw; top:-150vh; left: -150vw;}
  }
